:root {
    --section-margin: 80px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    color: #9D5CD0;

    cursor: pointer;
}

button {
    cursor: pointer;
}

.container {
    width: 1610px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

h1 { 
    color: #fff;

    line-height: 1;
}

p {
    margin: 0;
}

section {
    margin-bottom: var(--section-margin);
}

.section-title {
    margin-bottom: 30px;

    font-size: 48px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
  
    color: #fff;
}

.desc-logo {
    font-size: 14px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #000;
}

.logo {
    width: max-content;
}

.logo-title {
    font-size: 33px;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-list ul li {
    margin-right: 62px;

    font-size: 18px;
}

.login {
    height: max-content;
    border: none;
    padding-left: 20px;

    background-color: transparent;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: 0 40%;
    color: #fff;

    font-size: 18px;
}

.style-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style-bar {
    position: relative; 
    top: 0px;
    padding-top: 23px;
    padding-bottom: 28px;

    z-index: 1;
    
    background: rgba(10, 7, 7, 0.5);
}

.style-list {
    display: flex;

    background-color: transparent;
}

.choices {
    margin-bottom: 0;
    margin-right: 97px;
}

.choices__list {
    color: #fff;
}

.choices__list--dropdown {
    width: max-content;
    padding: 40px 20px 40px 40px;
    margin-top: 28px;
    border: none;
    
    background-color: rgba(10, 7, 7, 0.5);
}

.choices[data-type*=select-one]:after {
    content: "\2516";
    position: absolute;
    top: 3px;
    right: 0px;
    width: 20px;
    height: 20px;

    color: #fff;

    transform: rotate(-45deg);
    transform-origin: 70% 40%;
    transition: right .2s ,transform .2s ease-in-out;

    border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    content: "\0021";
    background-color: transparent;
    
    margin-right: 0px;
    
    box-sizing: border-box;
}

.is-highlighted {
   border-right: 2px solid #fff; 
   position: absolute;
   z-index: 2;
   overflow: visible;
}

.choices[data-type*=select-one].is-open:after {
    position: absolute;
    top: 7px;
    right: 5%;
    margin-top: 0;

    background-repeat: no-repeat;

    transform: rotate(140deg);
    transform-origin: 70% 40%;
}

.choices__list--dropdown .choices__list {
    display: block;
    position: relative;
    border-right: 2px solid #000;
    width: 240px;
    box-sizing: border-box;
    overflow: visible;
    z-index: 0;
}

.choices__list .choices__item--selectable {
    margin-right: 0px;
}

.choices__list--dropdown .choices__item--selectable:not(:last-child) {
    margin-bottom: 20px;
}

.choices__list--dropdown .choices__item--selectable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 240px;
    padding: 0;
    padding-left: 10px;
    
    margin-right: 0px;
    box-sizing: border-box;

    vertical-align: middle;

    background-color: transparent;
    background-size: 220px 40px;
    background-repeat: no-repeat;
}

#choices--realism-item-choice-1 {
    background-image: url("/img/Rectangle\ 60.png");
}

#choices--realism-item-choice-2 {
    background-image: url("/img/Rectangle\ 59.png");
}

#choices--realism-item-choice-3 {
    display: none;
}

#choices--realism-item-choice-5 {
    background-image: url("/img/Rectangle\ 58.png");
}

#choices--realism-item-choice-4 {
    background-image: url("/img/Rectangle\ 57.png");
}

#choices--impressionism-item-choice-1 {
    display: none;
}

#choices--impressionism-item-choice-2 {
    background-image: url("/img/Rectangle\ 591.png");
}

#choices--impressionism-item-choice-3 {
    background-image: url("/img/Rectangle\ 571.png");
}

#choices--impressionism-item-choice-4 {
    background-image: url("/img/Rectangle\ 61.png");
}

#choices--impressionism-item-choice-5 {
    background-image: url("/img/Rectangle\ 581.png");
}

#choices--postimpressionism-item-choice-1 {
    background-image: url("/img/van.png");
}

#choices--postimpressionism-item-choice-2 {
    background-image: url("/img/gogen.png");
}

#choices--postimpressionism-item-choice-3 {
    display: none;
}

#choices--postimpressionism-item-choice-4 {
    background-image: url("/img/sezan.png");
}

#choices--postimpressionism-item-choice-5 {
    background-image: url("/img/sera.png");
}

#choices--vanguard-item-choice-1 {
    display: none;
}

#choices--vanguard-item-choice-2 {
    background-image: url("/img/kandinsky.png");
}

#choices--vanguard-item-choice-3 {
    background-image: url("/img/malevich.png");
}

#choices--vanguard-item-choice-4 {
    background-image: url("/img/marinetti.png");
}

#choices--vanguard-item-choice-5 {
    background-image: url("/img/picasso.png");
}

#choices--futurism-item-choice-1 {
    background-image: url("/img/balla.png");
}

#choices--futurism-item-choice-2 {
    background-image: url("/img/carra.png");
}

#choices--futurism-item-choice-3 {
    background-image: url("/img/pratella.png");
}

#choices--futurism-item-choice-4 {
    background-image: url("/img/serinni.png");
}

#choices--futurism-item-choice-5 {
    display: none;
}

.choices__inner {
    min-height: auto;
    border: none;
    vertical-align: -10%;
    padding: 0;
    padding-right: 10px;

    border-color: transparent;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
}

.choices__list--dropdown .choices__item--selectable:after {
    display: none;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    width: max-content;
}

.search-input, .search-btn {
    background: none;
    border: none; 
}

.search-btn {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    margin-right: 10px;
    
    background-image: url("../img/Group\ 64.svg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 105%;
}

.search-input {
    border-bottom: 1px solid #fff;

    color: #fff;
}

.search-input::placeholder {
   color: #fff; 
}

.hero-section {
    min-height: 700px; 
}

.hero-container {
    max-height: 700px;
    position: relative;
    top: -77px;
    z-index: 0;
}

.partners-container {
    width: 90%;
    margin: 0 auto;
}

.swiper-button-next, .swiper-button-prev {
    height: 30px;
    width: 30px;
    border-radius: 50px;

    background-color: #ECECEC;
}

.prev-position {
    position: absolute;
    top: 25px;
    
    background-color: #666;
}

.next-position {
    position: absolute;
    top: 25px;
    left: 100px;
    
    background-color: #666;
}

.number-pages {
    position: absolute;
    top: 8px;
    left: 70px;
}

.actual-page { 
    color: transparent;
    transition: color 1s;
    transition-delay: .2s;
}

.swiper-slide-active .actual-page {
    /* display: block; */
    position: absolute;
    top: 8px;
    left: 55px;

    color: #fff;   
}

.gallery-wrapper-container .swiper-button-next:after, .gallery-wrapper-container .swiper-container-rtl .swiper-button-prev:after,
.gallery-wrapper-container .swiper-button-prev:after, .gallery-wrapper-container .swiper-container-rtl .swiper-button-next:after {
    color: #fff;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "\2516";
    position: absolute;
    top: 10px;
   
    font-size: 12px;

    color: #000;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    left: 11px;

    transform: rotate(225deg); 
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    right: 11px;

    transform: rotate(45deg);
}

.swiper-slide-active *::before {
    animation: scale alternate 30s linear infinite;
}

@keyframes scale {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: none;
    }
}

.swiper-slide {
    background-repeat: no-repeat;
}

.slide-1, .slide-2, .slide-3 {
    position: relative;
    z-index: 10;
}

.slide-1::before, .slide-2::before, .slide-3::before{
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide-1::before {
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash_2.jpg");
}

.slide-2::before{
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1.png");
}

.slide-3::before{
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.png");
}

.hero-description {
    max-width: 550px;
    margin-bottom: 115px;

    letter-spacing: 1px;
    line-height: 1.4;

    color: #fff;
}

.hero-title {
    max-width: 550px;
    padding-top: 150px;
    margin-bottom: 20px;

    font-size: 72px;

    color: #fff;
}

.hero-btn {
    padding: 23px 35px;
    border: none;
    border-radius: 50px;

    background-color: #9D5CD0;

    color: #fff;
}

.about-title {
    margin-bottom: 30px;
}

.about-description {
    line-height: 1.5;
}

.gallery-section {
    color: #fff;

    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\_3.jpg");
}

.gallery-container {
    display: flex;
    flex-direction: row;
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
    max-height: 995px;
    box-sizing: border-box;
    justify-content: space-between;
}

.gallery-left-column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 20%;
    margin-right: auto;
}

.filter-form {
    margin-bottom: auto;
}

.filter-form-el {
    display: block;
    width: 100%;

    border: 1px solid #fff;

    background-color: transparent;
    color: #fff;
}

.filter-form-el option {
    color: #fff;
}

.download-description {
    align-self: flex-end;

    line-height: 1.5;
}

.login-notice {
    text-decoration: none;
    color: #9D5CD0;
}

.gallery-img {
    width: 350px;
    height: 350px;
}

.gallery-right-column {
    display: flex;
    width: 75%; 
}

.gallery-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    padding-top: 50px;
}

.gallery-el {
    height: 350px;
    margin-right: 50px;
    box-sizing: border-box;
}

.gallery-el:not(:nth-last-child(-n+3)) {
    margin-bottom: 50px;  
}

.catalog-title {
    display: inline-block;
    margin-right: 41px;
    margin-bottom: 30px;
}

.lang-list {
    display: inline;
    width: max-content;
    padding: 0;
}

.lang-list li {
    display: inline;
}

.lang-btn {
    height: 46px;
    width: 46px;
    border: none;

    background-color: transparent;
}

.french {
    background-image: url("/img/image\ 4.svg");
}

.german {
    background-image: url("/img/image\ 6.svg");
}

.italian {
    background-image: url("/img/image\ 7.svg");
}

.russian {
    background-image: url("/img/image\ 8.svg");
}

.belgian {
    background-image: url("/img/image\ 5.svg");
}

.lang-list li:not(:last-child) {
    margin-right: 50px;
}

.catalog-desc {
    max-width: 1080px;
    margin-bottom: 50px;

    line-height: 1.5;
}

.flex-timeline-container {
    display: flex;
    flex-direction: row;
}

.catalog-left-column, .catalog-right-column  {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.catalog-left-column {
    margin-right: 50px;
}

.timeline-artist {
    margin-bottom: 15px;

    font-size: 16px;

    color: #d3d3d3;
}

.timeline-choise div {
    max-height: 341px;
    box-sizing: border-box;
}

.artists-list {
    min-height: 341px;
    padding-top: 35px;
    padding-bottom: 38px;
    box-sizing: border-box;

    column-count: 3; 
}

.portrait {
    margin-bottom: 30px;
}

.name-artist {
    margin-bottom: 8px;
}

.name-artist-title {
    margin-bottom: 15px;

    font-size: 24px;
}

.timeline-years {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 44px;

    border:none;
    

    background-color: transparent;
    color: #000;
}

.ui-accordion-header-active {
    border-top: none;
    border-bottom: 1px solid #9D5CD0; 
}

.timeline-choise:first-child {
    border-top: 1px solid #9D5CD0;
}

 .timeline-choise {
   border-bottom: 1px solid #9D5CD0; 
}

.ui-accordion .ui-accordion-header {
    display: flex;
}

.ui-accordion-content {
    border-left: none;
    border-right: none;
    border-bottom: none;
}



.ui-accordion .ui-accordion-content {overflow: hidden;}

.timeline-bg {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: auto;

    background-color: #ECECEC;

    transition:  transform .5s;
}

.timeline-bg::before {
    content: "\2516";
    display: block;
    position: relative;
    top: 33%;
    left: 25%;
    height: 20px;
    width: 20px;
    margin: 0;

    color: #000;

    transform: rotate(-45deg);
    transition: transform .5s, left .5s, top .5s;
    transform-origin: 70% 40%;
}

/* .timeline-choise:hover .timeline-bg::before, .timeline-choise:focus .timeline-bg::before,  */
.ui-accordion-header-active .timeline-bg::before {
    top: 40%;
    left: 20%;
    transform: rotate(135deg);
    transform-origin: 70% 40%;
}

.events-title {
    margin-bottom: 30px;
}

.events-list {
    display: flex;
    margin-bottom: 40px;
}

.events-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-height: 700px;
    padding-top: 320px;
    padding-right: 19px;
    padding-left: 50px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: contain;
}

.events-item:not(:last-child) {
    margin-right: 50px;
}

.shusiev-museum {
    background-image: url("/img/Rectangle101.png");  
}

.mmoma {
    background-image: url("/img/Rectangle101w.png");
}

.jewish-museum {
    background-image: url("/img/Rectangle101\(1\).png");
}

.event-img {
    width: 100%;
    margin-bottom: 20px;
}

.date-event {
    display: block;
    align-self: flex-end;
    margin-bottom: 20px; 

    word-wrap: normal;
    font-size: 12px;
    text-align: right;

    color: #999999;
}

.date-event span {
    display: block;
}

.events-list-title, .events-list-desc {
    padding-right: 31px;
    margin-bottom: 20px; 
}

.events-list-title {
    font-size: 24px;
}

.events-list-desc {
    line-height: 1.5;
}

.more-info {
    display: block;
    margin-top: auto;
    padding-bottom: 48px;

    color: #9D5CD0;
}

.all-events {
    display:block;   
    padding: 20px 40px 20px 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #9D5CD0;
    border-radius: 50px;

    color: #9D5CD0;
    font-weight: bold;

    background: transparent;
}

.publications {
    min-height: 763px;
    padding-top: 80px;
    padding-bottom: 77px;
    box-sizing: border-box;

    color: #fff;

    background-image: url("/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_4.png");
    background-size: cover;
}

.publications-title {
    margin-bottom: 30px;
}

.category-radio-title {
    margin-bottom: 20px;
}

.publications-container {
    display: flex;
    justify-content: space-between;
}

.category-list li {
    margin-bottom: 15px;
}

.custom-checkbox {
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.checkbox-desc {
    position: relative;
}

.checkbox-desc::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
}

.checkbox-desc::after {
    content: "\25CF";
    position: absolute;
    display: inline-block;
    left: 1px;
    bottom: 1px;

    color: #9D5CD0;

    opacity: 0;
}

.checkbox:checked + .checkbox-desc::after, .checkbox:checked + .checkbox-desc::before, .checkbox:checked + .checkbox-desc {
    color: #9D5CD0;
    border-color: #9D5CD0;

    opacity: 1;
}

.price-pub {
    margin-bottom: 14px;

    font-size: 16px;
}

.filter-price {
    width: max-content;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.filter-price input {
    width: 73px;
    height: 40px;

    background-color: rgba(157, 92, 208, 0.5);;
    color: #fff;
}

.pub-left-column {
    min-width: max-content;
    margin-right: auto;
}

.pub-right-column {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin-left: auto;
}

.pub-title  {
    display: flex;
    width: 100%;
    margin-right: 00px;

    line-height: 1.5;
}

.pub-item {
    font-size: 16px;
}

.pub-item-price {
    display: flex;
    position: relative;
    width: max-content; 
    margin-left: auto;

    font-weight: normal;
    font-style: italic;
}

.pub-list {
    display: flex;
    flex-direction: row;
}

.pub-item {
    display: flex;
    flex-direction: column;
}

.pub-item:not(:last-child) {
    margin-right: 50px;
}

.pub-img {
    margin-bottom: 23px;
}

.pub-author {
    margin-bottom: 20px;
}

.buy-pub {
    width: max-content;
    border: 2px solid #9D5CD0;
    border-radius: 25px;
    padding: 8px 14px;

    font-size: 16px;

    background-color: transparent;
    color: #fff;
}

.projects-desc {
    max-width: 995px;
    margin-bottom: 30px;

    line-height: 1.5;
    font-size: 16px;
}

.partners-title {
    margin-bottom: 25px;
}

.partners-list {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.partners-list-item {
    display: inline-block;
    height: 150px;
    width: 450px;
}

.partners-lest-el:not(:last-child) {
    margin-right: 50px;
}

.freelands {
    background-image: url("/img/Group\ 65.svg");
}

.ica {
    background-image: url("/img/Group\ 66.svg");
}

.workhouse {
    background-image: url("/img/Group\ 67.svg");
}

.brand-1849 {
    background-image: url("/img/Group\ 22.svg");
}

.hiscox {
    background-image: url("/img/Group\ 25.svg");
}

.camden {
    background-image: url("/img/Group\ 23.svg");
}

.stassen {
    background-image: url("/img/Group\ 26.svg");
}

.watts {
    background-image: url("/img/Group\ 24.svg");
}

.esad {
    background-image: url("/img/Group\ 27.svg");
}

.contacts {
    margin-bottom: 0;
}

.contacts .section-title {
    padding-left: 156px;
}

.contacts-container {
    display: flex;
}

.addres-column {
    width: 40%;
    border: 1px solid #cacaca;
    padding-top: 124px;
    padding-left: 160px;
    padding-right: 122px;
    padding-bottom: 124px;
    box-sizing: border-box;
}

.addres-title {
    margin-bottom: 10px;
}

.addres-text {
    margin-bottom: 36px;
}

.call-form-title {
    margin-bottom: 19px;
}

.call-form {
    display: flex;
    flex-direction: column;
}

.call-form-input {
    height: 40px;
    width: 400px;
    border: 1px solid #000;
    border-radius: 25px;
    padding-left: 24px;
    margin-bottom: 23px;
    box-sizing: border-box;
}

.contacts-title {
    margin-bottom: 19px;
}

.social-list {
    display: flex;
    flex-direction: row;
}

.social-item {
    height: 40px;
    width: 40px;
}

.whatsup {
    background-image: url("/img/Whatsapp-Icon.svg");
}

.telegramm {
    background-image: url("/img/Telegram_2019_Logo.svg");
}

.social-item:not(:last-child) {
    margin-right: 20px;
}

.submit-button {
    width: max-content;
    padding: 10px 25px;
    margin-bottom: 30px;
    border: 1px solid #9D5CD0;
    border-radius: 25px;

    background-color: transparent;
    color: #9D5CD0;
}

.map-column {
    width: 60%;
}

#map {
    width: 100%;
    height: 100%;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.footer {
    display: flex;
    height: max-content;

    background-color: #000;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-social-list {
    display: inline-block;
    flex-direction: row;
}

.footer-social-item {
    display: inline-block;
    height: 45px;
    width: 45px;
}

.footer-social-item:not(:last-child) {
    margin-right: 19px;
}

.vk {
    background-image: url("/img/vk.svg");
}

.insta {
    background-image: url("/img/instagram.svg");
}

.fb {
    background-image: url("/img/fb.svg");
}