:root {
    --section-margin: 80px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    outline: 1px solid #9D5CD0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    color: #9D5CD0;

    cursor: pointer;
}

button {
    cursor: pointer;
}

.container {
    width: calc(100vw - 310px);
    margin: 0 auto;

    overflow-x: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

h1 { 
    color: #fff;

    line-height: 1;
}

p {
    margin: 0;
}

section {
    margin-bottom: var(--section-margin);
}

.section-title {
    margin-bottom: 30px;

    font-size: 48px;
}

.burger {
    display: none;
    width: 36px;
    height: 28px;
    padding: 0;
    border: none; 

    background-color: transparent;

    overflow: hidden;
}

.burger__line {
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    
    background-color: #fff;

    transition: width .2s;
}

.burger__line:not(:last-child) {
    margin-bottom: 8px;
}

.line-active-1 {
    width: 75%;
}

.line-active-2 {
    width: 50%;
}

.line-active-3 {
    width: 25%;
}

.nav__link {
    text-decoration: none;
    color: #fff;

    transition: color .1s;
}

.burger-menu {
    display: block;
}

*:focus {
    outline: 1px solid #9D5CD0;
}

.header {
    display: flex;
    flex-direction: column;
  
    color: #fff;
}

.logo__text {
    font-size: 14px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #000;
}

.logo {
    width: max-content;
}

.logo__title {
    font-size: 33px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__item {
    margin-right: 62px;

    font-size: 18px;
}

.login {
    height: max-content;
    width: max-content;
    border: none;
   
    color: #fff;

    font-size: 18px;

    transition: color .2s;
}

.login:hover, .nav__link:hover {
    color: #C283F3;  
}

.login:active, .nav__link:active {
    color: #7943A4;
}

.login__icon {
    fill: #fff;
    transition: fill .2s;
}

.login:hover .login__icon {
    fill: #C283F3;
}

.login:active .login__icon {
    fill: #7943A4;
}

.styles__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
}

.styles {
    display: flex;
    position: relative; 
    top: 0px;
    padding-top: 23px;
    padding-bottom: 28px;

    z-index: 6;
    
    background: rgba(10, 7, 7, 0.5);
}

.styles__list {
    display: flex;
    /* justify-content: space-between; */

    background-color: transparent;
}

.choices {
    margin-bottom: 0;
    margin-right: 97px;
}

.choices__list {
    color: #fff;
}

.choices__list--dropdown {
    width: max-content;
    padding: 40px;
    margin-top: 28px;
    border: none;
    
    background-color: rgba(10, 7, 7, 0.5);
}

.choices[data-type*=select-one]:after {
    display: none;
}

.choices__list--single {
    transition: color .2s;
}

.choices__list--single::after {
    content: "\2516";
    position: absolute;
    top: 1px;
    right: -5px;
    width: 20px;
    height: 20px;

    color: #fff;

    transform: rotate(-45deg);
    transform-origin: 70% 40%;
    transition: top .2s, right .2s ,transform .2s ease-in-out;

    border: none;
}

.is-open .choices__list--single {
    color: #9D5CD0;
}

.is-open .choices__list--single::after {
    position: absolute;
    top: 10px;
    right: 5%;
    margin-top: 0;

    background-repeat: no-repeat;
    color: #9D5CD0;

    transform: rotate(140deg);
    transform-origin: 70% 40%;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    content: "\0021";
    background-color: transparent;
    
    margin-right: 0px;
    
    box-sizing: border-box;
}

.choices__inner:hover .choices__list--single, .choices__inner:hover .choices__list--single::after {
    color: #C283F3;
}

.choices__inner:active .choices__list--single, .choices__inner:active .choices__list--single::after {
    color: #7943A4;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
    content: "";
    display: flex;
    position: absolute;
    height: 40px;
    width: 2px;
    top: 20px;
    right: -20px;
    margin-left: 20px;

    border-right: 3px solid #bb68ff; 

    z-index: 2;
    overflow: visible;
}

.choices__list--dropdown .choices__list {
    box-sizing: border-box;

    overflow: visible;
    z-index: 0;
}

.choices__list--dropdown .choices__list::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 3px solid #000;
    height: 100%;
    right: -20px;
    top: 0;

    z-index: 0;
}

.choices__list .choices__item--selectable {
    margin-right: 0px;
}

.choices__list--dropdown .choices__item--selectable:not(:last-child) {
    margin-bottom: 20px;
}

.choices__list--dropdown .choices__item--selectable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    min-width: 220px;
    padding: 0;
    padding-left: 10px;
    
    margin-right: 0px;
    box-sizing: border-box;

    vertical-align: middle;

    background-color: transparent;
    background-size: 220px 40px;
    background-repeat: no-repeat;
}

.choices__item--selectable.is-highlighted:hover {
    outline: 1px solid #C283F3;
}

#choices--realism-item-choice-1 {
    background-image: url("/img/Rectangle\ 60.png");
}

#choices--realism-item-choice-2 {
    background-image: url("/img/Rectangle\ 59.png");
}

#choices--realism-item-choice-3 {
    display: none;
}

#choices--realism-item-choice-5 {
    background-image: url("/img/Rectangle\ 58.png");
}

#choices--realism-item-choice-4 {
    background-image: url("/img/Rectangle\ 57.png");
}

#choices--impressionism-item-choice-1 {
    display: none;
}

#choices--impressionism-item-choice-2 {
    background-image: url("/img/Rectangle\ 591.png");
}

#choices--impressionism-item-choice-3 {
    background-image: url("/img/Rectangle\ 571.png");
}

#choices--impressionism-item-choice-4 {
    background-image: url("/img/Rectangle\ 61.png");
}

#choices--impressionism-item-choice-5 {
    background-image: url("/img/Rectangle\ 581.png");
}

#choices--postimpressionism-item-choice-1 {
    background-image: url("/img/van.png");
}

#choices--postimpressionism-item-choice-2 {
    background-image: url("/img/gogen.png");
}

#choices--postimpressionism-item-choice-3 {
    display: none;
}

#choices--postimpressionism-item-choice-4 {
    background-image: url("/img/sezan.png");
}

#choices--postimpressionism-item-choice-5 {
    background-image: url("/img/sera.png");
}

#choices--vanguard-item-choice-1 {
    display: none;
}

#choices--vanguard-item-choice-2 {
    background-image: url("/img/kandinsky.png");
}

#choices--vanguard-item-choice-3 {
    background-image: url("/img/malevich.png");
}

#choices--vanguard-item-choice-4 {
    background-image: url("/img/marinetti.png");
}

#choices--vanguard-item-choice-5 {
    background-image: url("/img/picasso.png");
}

#choices--futurism-item-choice-1 {
    background-image: url("/img/balla.png");
}

#choices--futurism-item-choice-2 {
    background-image: url("/img/carra.png");
}

#choices--futurism-item-choice-3 {
    background-image: url("/img/pratella.png");
}

#choices--futurism-item-choice-4 {
    background-image: url("/img/serinni.png");
}

#choices--futurism-item-choice-5 {
    display: none;
}

.choices__inner {
    min-height: auto;
    border: none;
    vertical-align: -10%;
    padding: 0;
    padding-right: 10px;

    border-color: transparent;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
}

.choices__list--dropdown .choices__item--selectable:after {
    display: none;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    width: max-content;
}

.search-form * {
    border-color: #fff;
    color: #fff;
    fill: #fff;
    transition: border-color .2s, fill .2s;
}

.search-form:hover * {
    border-color: #C283F3;
    color: #C283F3;
    fill: #C283F3;
}

.search__input:focus {
    border-color: #bb68ff;
    color: #bb68ff;
}

.search__input, .search__btn {
    background: none;
    border: none; 
}

.search__btn {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    top: 4px;
    padding: 0;
}

.search__input {
    border-bottom: 1px solid #fff;

    color: #fff;
}

.search__input::placeholder {
   color: #fff; 
}

.hero-section {
    min-height: 700px; 
    margin-bottom: 0;
}

.hero__container {
    padding-top: 240px;
    max-height: 700px;
    position: relative;
    top: -77px;
    z-index: 0;
    overflow: hidden;
}

.partners__slider, .publication__slider {
    overflow: hidden;
}

.partners__container {
    height: max-content;
    width: 90%;
    padding-right: 90px;
    margin: 0 auto;
}

.partners__button_prev, .partners__button_next {
    display: inline-block;
    position: relative;
    bottom: 88px;
    left: 0;
}

.partners__button_next {
    left: 95%;
    margin: 0;
}

.swiper-button-next, .swiper-button-prev {
    height: 30px;
    width: 30px;
    border-radius: 50px;

    background-color: #ECECEC;
}

.prev-position {
    position: absolute;
    top: 25px;
    
    background-color: #666;
}

.next-position {
    position: absolute;
    top: 25px;
    left: 100px;
    
    background-color: #666;
}

.number-pages {
    position: absolute;
    top: 8px;
    left: 70px;
}

.actual-page { 
    color: transparent;
    transition: color 1s;
    transition-delay: .2s;
}

.swiper-slide-active .actual-page {
    position: absolute;
    top: 8px;
    left: 55px;

    color: #fff;   
}

.gallery__wrapper .swiper-button-next:after, .gallery__wrapper .swiper-container-rtl .swiper-button-prev:after,
.gallery__wrapper .swiper-button-prev:after, .gallery__wrapper .swiper-container-rtl .swiper-button-next:after {
    color: #fff;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "\2516";
    position: absolute;
    top: 10px;
   
    font-size: 12px;

    color: #000;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    left: 11px;

    transform: rotate(225deg); 
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    right: 11px;

    transform: rotate(45deg);
}

.hero-section::before {
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash_2.jpg");
    background-size: cover;

    animation: scale alternate 30s linear infinite;
}

@keyframes scale {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: none;
    }
}

.swiper-slide {
    background-repeat: no-repeat;
}

.hero-section {
    position: relative;
    top: -77px;
    z-index: 5;
    overflow: hidden;
}

.slide-1::before {
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide-2::before{
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1.png");
}

.slide-3::before{
    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.png");
}

.hero__text {
    max-width: 550px;
    margin-bottom: 115px;

    letter-spacing: 1px;
    line-height: 1.4;

    color: #fff;
}

.hero__title {
    max-width: 550px;
    
    margin-bottom: 20px;

    font-size: 72px;

    color: #fff;
}

.hero__btn {
    display: block;
    position: relative;
    padding: 23px 35px;
    max-width: max-content;
    border: 2px solid transparent;
    border-radius: 50px;

    background-color: #9D5CD0;

    color: #fff;
    outline: none;

    transition: background-color .2s, box-shadow .2s, border-color .2s;
}

.hero__btn:hover {
    border: 2px solid #C283F3;
}

.hero__btn:active {
    background-color: #7943A4;
}

.hero__btn:focus {
    box-shadow: 0 0 0 1px #fff inset, 0 0 0 2px #fff inset;
}

.about__text {
    line-height: 1.5;
}

.gallery-section {
    color: #fff;

    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\_3.jpg");
}

.gallery__container {
    display: flex;
    flex-direction: row;
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
    max-height: 995px;
    box-sizing: border-box;
    justify-content: space-between;
}

.gallery__left_column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 25%;
    margin-right: auto;
}

.filter-form {
    margin-bottom: 128%;
}

.filter-form__select {
    display: block;
    width: 80%;

    border: 1px solid #fff;
    border-radius: 5px;

    background-color: transparent;
    color: #fff;
}

.filter-form__option {
    color: #fff;
}

.filter-form__text {
    align-self: flex-end;

    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.login-notice {
    text-decoration: none;
    color: #9D5CD0;
}

.gallery__img {
    width: 350px;
    height: 350px;
}

.gallery__right_column {
    display: flex;
    width: 75%; 
}

.galllery__slider {
    display: flex;
    flex-direction: r;
}

.gallery__list {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    padding-top: 50px;
}

.gallery__item {
    height: 350px;
    box-sizing: border-box;
}

.gallery__item {
    margin-bottom: 50px;  
}

.gallery__pagination{
    position: absolute;
    top: 10px;
    left: 50px;
}

.catalog__title {
    display: inline-block;
    margin-right: 41px;
    margin-bottom: 30px;
}

.lang-list {
    display: inline-block;
    width: max-content;
    padding: 0;
    padding-top: 5px;

    overflow: visible;
}

.lang__item {
    display: inline-block;
    overflow: visible;
}

.lang__btn {
    height: 46px;
    width: 46px;
    border: none;
    border-radius: 50px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: visible;

    transition: box-shadow .2s, transform .2s, background-size .2s, background-position .2s;
}

.lang__btn:hover {
    box-shadow: 0 0 8px #7943A4;
}

.lang__btn:active {
    border: 1px solid #7943A4;  
}

.lang__btn:focus {
    border: 1px solid #1f1e20;

    background-position: center;
    background-size: 70%;

    transform: scale(1.2);
}

.lang__btn--french {
    background-image: url("/img/image\ 4.svg");
}

.lang__btn--german {
    background-image: url("/img/image\ 6.svg");
}

.lang__btn--italian {
    background-image: url("/img/image\ 7.svg");
}

.lang__btn--russian {
    background-image: url("/img/image\ 8.svg");
}

.lang__btn--belgian {
    background-image: url("/img/image\ 5.svg");
}

.lang__item:not(:last-child) {
    margin-right: 50px;
}

.catalog__text {
    max-width: 1080px;
    margin-bottom: 50px;

    line-height: 1.5;
}

.catalog__flex_container {
    align-items: flex-start;
}

.catalog__left_column, .catalog__right_column  {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
}

.catalog__left_column {
    margin-right: 50px;
}

.catalog__lifeline_artist {
    margin-bottom: 15px;

    font-size: 16px;

    color: #d3d3d3;
}

.accordeon__dropdiv {
    max-height: max-content;
    box-sizing: border-box;
}

.accordeon__item__list {
    min-height: 341px;
    padding-top: 35px;
    padding-bottom: 38px;
    box-sizing: border-box;

    column-count: 3; 
}

.catalog__portrait {
    margin-bottom: 30px;
}

.accordeon__item__el {
    margin-bottom: 8px;
}

.accordion__link{
    border-bottom: 1px solid transparent;

    transition: color .2s, border-color .2s;
}

.accordion__link:hover{
    color: #9D5CD0;
}

.accordion__link:hover:active {
    text-shadow: 0 0 1px #9D5CD0;

    border-color: transparent;
}

.catalog__name_artist {
    margin-bottom: 15px;

    font-size: 24px;
}

.accordeon__title {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 44px;
    border:none;
    margin: 0;
    
    background-color: transparent;
    color: #000;
}

.ui-accordion .ui-accordion-header {
    display: flex;

    border-top: 1px solid #CACACA;
    border-radius: 0;
    
    transition: color .2s;
}

.ui-accordion .ui-accordion-header-active {
    border-top-color: #9D5CD0;
    border-bottom: 1px solid #9D5CD0; 
}

.accordeon__item:last-child,
.accordeon__item:last-child .accordeon__dropdiv {
    
    border-bottom: 1px solid #CACACA; 
    
}

.ui-accordion-content {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.ui-accordion .ui-accordion-content {
    overflow: hidden;
}

.accordeon__bg {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: auto;

    background-color: #ECECEC;

    transition:  transform .5s, background-color .5s;
}

.accordeon__bg::before {
    content: "\2516";
    display: block;
    position: relative;
    top: 33%;
    left: 25%;
    height: 20px;
    width: 20px;
    margin: 0;

    color: #000;

    transform: rotate(-45deg);
    transition: transform .5s, left .5s, top .5s, color .5s;
    transform-origin: 70% 40%;
}

.ui-accordion-header-active {
    color: #9D5CD0;
}

.ui-accordion-header-active .accordeon__bg {
    background-color: #9D5CD0;
}

.ui-accordion-header-active .accordeon__bg::before {
    top: 40%;
    left: 20%;
    transform: rotate(135deg);
    transform-origin: 70% 40%; 

    color: #fff;
}

.ui-accordion-header-active:active .accordeon__bg {
    background-color: #7943A4;
}

.ui-accordion-header-active:active  {
    color: #7943A4;
}

.events__title {
    margin-bottom: 30px;
}

.events__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.events__item {
    display: flex;
    flex-direction: column;
    max-width: 31.2%;
    min-height: 700px;
    padding-top: 320px;
    padding-right: 19px;
    padding-left: 50px;
    padding-bottom: 48px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: contain;
}

.events__item:last-child {
    margin-right: auto;
    margin-left: 50px;
}

.events__item--shusiev-museum {
    background-image: url("/img/Rectangle101.png");  
}

.events__item--mmoma {
    background-image: url("/img/Rectangle101w.png");
}

.events__item--jewish-museum {
    background-image: url("/img/Rectangle101\(1\).png");
}

.events__item--tret_gallery {
    background-image: url("/img/Rectangle\ 101.png");
}

.events__item--mmam {
    background-image: url("/img/Rectangle\ 101\ \(1\).png");
}

.events__img {
    width: 100%;
    margin-bottom: 20px;
}

.events__place {
    display: block;
    align-self: flex-end;
    margin-bottom: 20px; 

    word-wrap: normal;
    font-size: 12px;
    text-align: right;

    color: #999;
}

.events__date {
    display: block;
}

.events__subtitle, .events__text {
    padding-right: 31px;
    margin-bottom: 20px; 
}

.events__subtitle {
    font-size: 24px;
}

.events__text {
    line-height: 1.5;
}

.events__more_info {
    display: block;
    margin-top: auto;
    width: max-content;
    border-bottom: 1px solid #9D5CD0;

    font-weight: 500;

    color: #9D5CD0;

    transition: text-shadow .2s ease-in-out;
}

.events__more_info:hover {
    text-shadow: 0 0 1px #9D5CD0;
}

.link:focus {
    outline: 1px solid #000;
    outline-offset: -1px;
}

.events__all_btn {
    display:block;   
    padding: 20px 40px 20px 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #9D5CD0;
    border-radius: 50px;

    color: #9D5CD0;
    font-weight: bold;

    background: transparent;
}

.publications-section {
    min-height: 763px;
    padding-top: 80px;
    padding-bottom: 77px;
    box-sizing: border-box;

    color: #fff;

    background-image: url("/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_4.png");
    background-size: cover;
}

.publications-title {
    margin-bottom: 30px;
}

.publications__filter_title {
    margin-bottom: 20px;
}

.publications__container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.publications__pagination {
    top: -60px;
    left: 23%;
}

.publications__filter_item {
    margin-bottom: 15px;
}

.filter_item__custom_checkbox {
    cursor: pointer;
}

.filter_item__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.filter_item__text {
    position: relative;

    transition: color .2s;
}

.filter_item__text::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;

    transition: border-color .2s;
}

.filter_item__text::after {
    content: "\25CF";
    position: absolute;
    display: inline-block;
    left: 1px;
    bottom: 1px;

    color: #9D5CD0;

    transition: color .2s;

    opacity: 0;
}

.filter_item__input:checked + .filter_item__text::after, 
.filter_item__input:checked + .filter_item__text::before, 
.filter_item__input:checked + .filter_item__text {
    color: #9D5CD0;
    border-color: #9D5CD0;

    opacity: 1;
}

.filter_item__input:active + .filter_item__text::after, 
.filter_item__input:active + .filter_item__text::before, 
.filter_item__input:active + .filter_item__text {
    color: #7943A4;
    border-color: #7943A4;
}

.filter-price__title {
    margin-bottom: 14px;

    font-size: 16px;
}

.filter-price {
    width: max-content;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.filter-price__input {
    width: 73px;
    height: 40px;

    background-color: rgba(157, 92, 208, 0.5);;
    color: #fff;
}

.publications__left_column {
    min-width: max-content;
    margin-right: auto;
}

.publications__right_column {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
}

.publications__title_container {
    display: flex;
    align-items: center;
    max-width: 90%;
}

.publications__subtitle {
    display: inline;
    width: 50%;
    margin-right: 00px;

    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.publications__item {
    display: flex;
    flex-direction: column;
    height: 512px;
    width: 350px;
    box-sizing: border-box;

    font-size: 16px;
}

.publications__price {
    display: flex;
    position: relative;
    width: max-content; 
    margin-left: auto;

    font-weight: normal;
    font-style: italic;
}

.publications__list {
    display: flex;
    flex-direction: row;
}

.publications__img {
    height: 512px;
    width: 350px;
    margin-bottom: 23px;
}

.publications__author {
    margin-bottom: 20px;
}

.publications__buy_btn {
    width: max-content;
    border: 2px solid #9D5CD0;
    border-radius: 25px;
    padding: 8px 14px;

    font-size: 16px;

    background-color: transparent;
    color: #fff;
}

.projects-link {
    color: #9D5CD0;
    border-bottom: 1px solid transparent;

    transition: border-color .2s, color .2s, text-shadow .2s;
}

.projects-link:hover, .accordion__link:hover {
    border-color: #9D5CD0;
}

.projects-link:active {
    text-shadow: 0 0 1px #7943A4;

    color: #7943A4;
    border-color: #7943A4;
}

.projects__text {
    max-width: 995px;
    margin-bottom: 30px;

    line-height: 1.5;
    font-size: 16px;
}

.partners__list_title {
    margin-bottom: 25px;
}

.partners__list {
    display: flex;
    flex-direction: row;
}

.partners__item {
    height: 150px;
    width: 450px;
    box-sizing: border-box;
}

.partners__link_img {
    display: inline-block;
    height: 150px;
    width:450px ;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;

    transition: .2s filter;
}

.partners__link_img:hover {
    filter: grayscale(0%);
}

.freelands {
    background-image: url("/img/Group\ 731.png");
}

.ica {
    background-image: url("/img/Group\ 721.png");
}

.workhouse {
    background-image: url("/img/Group\ 371.png");
}

.brand-1849 {
    background-image: url("/img/Group\ 221.png");
}

.hiscox {
    background-image: url("/img/Group\ 601.png");
}

.camden {
    background-image: url("/img/Group\ 231.png");
}

.stassen {
    background-image: url("/img/Group\ 261.png");
}

.watts {
    background-image: url("/img/Group\ 591.png");
}

.esad {
    background-image: url("/img/Group\ 271.png");
}

.contacts-section {
    margin-bottom: 0;
}

.contacts__title {
    padding-left: 156px;
}

.contacts__container {
    display: flex;
}

.contacts__address_column {
    width: 40%;
    border: 1px solid #cacaca;
    padding-top: 124px;
    padding-left: 160px;
    padding-right: 122px;
    padding-bottom: 124px;
    box-sizing: border-box;
}

.address__title {
    margin-bottom: 10px;
}

.address__text {
    margin-bottom: 36px;
}

.call-form__title {
    margin-bottom: 19px;
}

.call-form {
    display: flex;
    flex-direction: column;
}

.call-form__input {
    height: 40px;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 25px;
    padding-left: 24px;
    margin-bottom: 23px;
    box-sizing: border-box;
}

.contacts__title {
    margin-bottom: 19px;
}

.contacts__list_title {
    margin-bottom: 20px;
}

.contacts__list {
    display: flex;
    flex-direction: row;
}

.contacts__item {
    height: 40px;
    width: 40px;
}

.contacts__item--whatsup {
    background-image: url("/img/Whatsapp-Icon.svg");
}

.contacts__item--telegramm {
    background-image: url("/img/Telegram_2019_Logo.svg");
}

.contacts__item:not(:last-child) {
    margin-right: 20px;
}

.call-form__submit_btn {
    width: max-content;
    padding: 10px 25px;
    margin-bottom: 30px;
    border: 1px solid #9D5CD0;
    border-radius: 25px;

    background-color: transparent;
    color: #9D5CD0;
}

.map-column {
    position: relative;
    width: 60%;
}

#map {
    width: 100%;
    height: 100%;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.footer {
    display: flex;
    height: max-content;

    background-color: #000;
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__social_item {
    display: inline-block;
    height: 45px;
    width: 45px;

    background-size: cover;
}

.footer__social_item:not(:last-child) {
    margin-right: 19px;
}

.footer__social_item--vk {
    background-image: url("/img/vk.svg");
}

.footer__social_item--insta {
    background-image: url("/img/instagram.svg");
}

.footer__social_item--fb {
    background-image: url("/img/fb.svg");
}

.swiper-pagination {
    width: max-content;
    height: max-content;
}

.events__hidden_item {
    display: none;
}

.events__visible_item {
    display: flex;
    margin-top: 50px;
}

.publications__prev_position,
.publications__next_position {
    background-color: #666;
}

.publications__prev_position {
   top: -45px;
   left: 20%;
}

.publications__next_position {
    top: -45px;
    left: 26%;
}

@media (max-width: 1366px) {
    .container {
        width: calc(100vw - 100px);
    }

    .burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .choices {
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    .nav__list {
        display: block;
        position: absolute;
        left: -1200px;
        top: 50px;
        height: 100vh;
        width: 1024px;
        padding-left: 50px;
        padding-top: 50px;

        background: rgba(10, 7, 7, 0.8);
        
        transition: left .5s;

        z-index: 9;
    }

    .nav__item {
        margin-bottom: 30px;

        font-size: 24px;
    }

    .nav {
        display: block;
        position: absolute;
    }

    .menu-list {
        display: block;

        left: -50px;  
    }

    .styles {
        display: none;
    }

    .hero-section {
        top: 0;
        margin-bottom: var(--section-margin);
    }
    
    .hero__container {
        min-height: none;
    }

    .gallery__container {
        max-height: 839px;
        box-sizing: border-box;
    }

    .gallery__left_column {
        width: 28%;
        margin-right: 0px;
    }

    .gallery__right_column {
        max-width: 594px;
    }

    .filter-form {
        margin-bottom: 120%;
    }

    .filter-form__text {
        font-size: 16px;
        line-height: 2;
    }

    .filter-form__select {
        width: 85%;
    }

    .gallery__item {
        width: 280px;
        height: 280px;
        margin-bottom: 34px;
        margin-right: 8px;
    }

    .gallery__img {
        width: 280px;
        height: 280px;
    }

    .partners__list {
        padding-left: 35px;
    }

    .publications__prev_position {
        left: 30%;
    }
     
    .publications__next_position {
        left: 39%;
    }

    .publications__pagination {
        left: 34.1%;
    }

    .partners__button_prev, .partners__button_next {
        bottom: 75px; 
    }

    .partners__button_next {
        left: 92%;
    }

    .partners__item {
        width: 384px;
        height: 128px;
    }

    .partners__link_img {
        width: 384px;
        height: 128px;
    }
    
    .accordeon__item__list {
        column-count: 2;
    }

    .accordion__link {
        font-size: 16px;
    }

    .publications__item {
        width: 290px;
       /*  height: 433px; */
    }

    .publication__slider {
        width: 629px;
    }

    .publications__img {
        width: 290px;
        height: 320px;
    }

    .publications__title_container {
        width: 85%;
    }

    .contacts__title {
        padding-left: 50px;
    }

    .contacts__address_column {
        width: 50%;
        padding-left: 50px;
    }

    .map-column {
        width: 50%;
        overflow: hidden;
    }

    .ymaps-2-1-78-map {
        width: 512px;
    }

    .address__text {
        font-size: 16px;
    }

    .events__item {
        padding-top: 200px;
    }

    .events__item:last-child {
        margin-left: 30px;
    }

    .events__subtitle, .events__text {
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 320px) {
    
}