@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/2211-webfont.woff2') format('woff2'),
         url('../fonts/2211-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --section-margin: 80px;
}

body {
    margin: 0;

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1610px;
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

h1 { 
    color: #fff;

    line-height: 1;
}

p {
    margin: 0;
}

section {
    margin-bottom: var(--section-margin);
}

.section-title {
    font-size: 48px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    
    background-color: #000;
    color: #fff;
}

.desc-logo {
    font-size: 14px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    width: max-content;

    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-title {
    font-size: 33px;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-list ul li {
    margin-right: 62px;

    font-size: 18px;
}

.login {
    height: max-content;
    border: none;
    padding-left: 20px;

    background-color: transparent;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: 0 40%;
    color: #fff;

    font-size: 18px;

    cursor: pointer;
}

.style-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style-bar {
    padding-top: 23px;
    padding-bottom: 28px;
    margin: 0;
    margin-bottom: var(--section-margin);

    background: rgba(10, 7, 7, 0.5);
}

.style-list {
    background-color: transparent;
}

.style-option {
    border: none;
    margin-right: 97px;

    border-color: transparent;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;

    font-size: 18px;
}

.search-form {
    display: flex;
    justify-content: baseline;
    width: max-content;
}

.search-input, .search-btn {
    background: none;
    border: none; 
}

.search-btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
    background-image: url("../img/Group\ 64.svg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 105%;

    cursor: pointer;
}

.search-input {
    border-bottom: 1px solid #fff;
}

.search-input::placeholder {
   color: #fff; 
}

.hero-section {
    min-height: 700px;

    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg");
}

.hero-description {
    max-width: 550px;
    margin-bottom: 115px;

    letter-spacing: 1px;
    line-height: 1.4;

    color: #fff;
}

.hero-title {
    max-width: 550px;
    margin-bottom: 20px;

    font-size: 72px;

    color: #fff;
}

.hero-btn {
    padding: 23px 35px;
    border: none;
    border-radius: 50px;

    background-color: #9D5CD0;

    color: #fff;

    cursor: pointer;
}

.about-title {
    margin-bottom: 30px;
}

.about-description {
    line-height: 1.5;
}

.gallery-section {
    color: #fff;

    background-image: url("../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg");
}

.gallery-container {
    display: flex;
    flex-direction: row;
    padding-top: var(--section-margin);
    padding-bottom: var(--section-margin);
    max-height: 995px;
    box-sizing: border-box;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 20%;
}

.filter-form {
    margin-bottom: auto;
}

.filter-form-el {
    display: block;
    width: 100%;

    border: 1px solid #fff;

    background-color: transparent;
    color: #fff;
}

.filter-form-el option {
    color: #fff;
}

.download-description {
    align-self: flex-end;
}

.login-notice {
    text-decoration: none;
    color: #9D5CD0;
}

.gallery-img {
    width: 350px;
    height: 350px;
}

.right-column {
   width: 80%; 
}

.gallery-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
}

.gallery-el {
    height: 350px;
    margin-right: 50px;
    box-sizing: border-box;
}

.gallery-el:not(:nth-last-child(-n+3)) {
    margin-bottom: 50px;  
}

.catalog-title {
    display: inline-block;
    margin-right: 41px;
    margin-bottom: 30px;
}

.lang-list {
    display: inline;
    width: max-content;
    padding: 0;
}

.lang-list li {
    display: inline;
}

.lang-btn {
    height: 46px;
    width: 46px;
    border: none;

    background-color: transparent;

    cursor: pointer;
}

.french {
    background-image: url("/img/image\ 4.svg");
}

.german {
    background-image: url("/img/image\ 6.svg");
}

.italian {
    background-image: url("/img/image\ 7.svg");
}

.russian {
    background-image: url("/img/image\ 8.svg");
}

.belgian {
    background-image: url("/img/image\ 5.svg");
}

.lang-list li:not(:last-child) {
    margin-right: 50px;
}

.catalog-desc {
    max-width: 1080px;
    margin-bottom: 50px;

    line-height: 1.5;
}

.flex-timeline-container {
    display: flex;
    flex-direction: row;
}

.catalog-left-column, .catalog-right-column  {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.catalog-left-column {
    margin-right: 50px;
}

.timeline-artist {
    margin-bottom: 15px;

    font-size: 16px;

    color: #d3d3d3;
}

.timeline-choise div {
    max-height: 341px;
    box-sizing: border-box;
}

.artists-list {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    min-height: 341px;
    padding-top: 35px;
    padding-bottom: 38px;
    box-sizing: border-box;

    column-count: 3; 
}

.portrait {
    margin-bottom: 30px;
}

.name-artist {
    margin-bottom: 8px;
}

.name-artist-title {
    margin-bottom: 15px;

    font-size: 24px;
}

.timeline-years {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 44px;

    border-top: 1px solid #9D5CD0;
}

.timeline-choise:first-child .timeline-years, .timeline-choise:last-child .timeline-years {
   border-bottom: 1px solid #9D5CD0; 
}

.timeline-bg {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: auto;

    background-color: #ECECEC;

    transition:  transform .5s;
}

.timeline-bg::before {
    content: "\2516";
    display: block;
    position: relative;
    top: 35%;
    left: 20%;
    /* font-size: 70px; */
    height: 20px;
    width: 20px;
    margin: 0;

    transform: rotate(-45deg);
    transition:  transform .5s, left .5s;
    transform-origin: 70% 40%;
}

.timeline-choise:hover .timeline-bg::before {
    left: 25%;
    transform: rotate(140deg);
    transform-origin: 70% 40%;
}

.events-title {
    margin-bottom: 30px;
}

.events-list {
    display: flex;
    margin-bottom: 40px;
}

.events-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-height: 700px;
    padding-top: 320px;
    padding-right: 19px;
    padding-left: 50px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: contain;
}

.events-item:not(:last-child) {
    margin-right: 50px;
}

.shusiev-museum {
    background-image: url("/img/Rectangle 101.png");  
}

.mmoma {
    background-image: url("/img/Rectangle\ 101w.png");
}

.jewish-museum {
    background-image: url("/img/Rectangle\ 101\ \(1\).png");
}

.event-img {
    width: 100%;
    margin-bottom: 20px;
}

.date-event {
    display: block;
    align-self: flex-end;
    margin-bottom: 20px; 

    word-wrap: normal;
    font-size: 12px;
    text-align: right;

    color: #999999;
}

.date-event span {
    display: block;
}

.events-list-title, .events-list-desc {
    padding-right: 31px;
    margin-bottom: 20px; 
}

.events-list-title {
    font-size: 24px;
}

.events-list-desc {
    line-height: 1.5;
}

.more-info {
    display: block;
    margin-top: auto;
    padding-bottom: 48px;

    color: #9D5CD0;
}

.all-events {
    display:block;   
    padding: 20px 40px 20px 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #9D5CD0;
    border-radius: 50px;

    color: #9D5CD0;
    font-weight: bold;

    background: transparent;
}

.custom-checkbox {
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.checkbox-desc {
    position: relative;
}

.checkbox-desc::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 11px;
    height: 11px;
    border: 1px solid #000;
}

.checkbox-desc::after {
    content: "\25CF";
    position: absolute;
    display: inline-block;
    left: 1px;
    bottom: 1px;

    color: #9D5CD0;

    opacity: 0;
}

.checkbox:checked + .checkbox-desc::after {
    opacity: 1;
}